.body {
  background-image: url(../assets/images/authentication/authentication.svg);
  background-color: var(--secondaryColor);
  background-size: contain;
  height: 100vh;
  width: 100%;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  width: 90%;
  max-width: 900px;
  height: auto;
  background-color: var(--backgroundColor);
  border-radius: 16px;
  padding: 32px;
}

.sideImage {
  position: relative;
  height: 100%;
}

.sideImage img {
  width: 90%;
  height: auto;
  display: block;
  position: absolute;
  bottom: 0;
}

.sideImageRight img {
  right: 0;
  bottom: 0;
  width: 90%;
}

.formInput {
  border: 1px solid var(--titleColor);
  padding: 8px;
  margin: 24px 0px;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.formInput input {
  background-color: var(--backgroundColor);
  width: 90%;
  border: none;
  outline: none;
}

.formCheck {
  margin: 24px 0px;
}

.formCheck label {
  margin-left: 16px;
}

.formButton {
  background-color: var(--secondaryColor);
  padding: 12px 18px;
  outline: none;
  border: none;
  border-radius: 4px;
}

.formButton:hover {
  background-color: var(--primaryColor);
}

p a {
  margin: 0 5px;
}

@media (max-width: 920px) {
  .content {
    min-width: unset;
    padding: 16px;
  }

  .formInput img {
    margin-right: 16px;
  }

  .show {
    width: 90vw;
    margin: auto;
  }

  .hide {
    display: none;
  }
}
