:root {
  --primaryColor: #ff6767;
  --secondaryColor: #f26e6e;
  --accentColor: #f7cac9;
  --backgroundColor: #f5f8ff;
  --titleColor: #212427;
  --paragraphColor: #747474;
  --firstColor: #f21e1e;
  --secondColor: #0225ff;
  --thirdColor: #05a301;
}

body {
  background-color: var(--backgroundColor);
}

a,
a:hover {
  text-decoration: none;
  color: inherit;
}
